* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

/* COMMON  */
h5 {
    color: white;
    
}

a {
    text-decoration: none;
    color: #474747;
}
/* END COMMON  */

.wrapper {
    width: 100%;
    height: 100vh;
}

/* HEADER  */
header {
    height: 80px;
    width: calc(100% - 200px);
    background-color: #080b12;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 30px 5px;
}

.upgrade-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
}

.upgrade-button h5 {
    font-size: 10px;
}

.upgrade-button:hover {
    transform: scale(1.1);
}
/* END HEADER  */

/* MAIN  */
main {
    height: calc(100% - 80px);
}

/* navbar  */
.navbar {
    width: 200px;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #000;
    color: #474747;
    padding: 15px;
    font-size: 12px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* top  */
.logo img {
    width: 80%;
}
/* end top  */

/* center lists  */
.nav-list li {
    padding: 5px 0;
    list-style-type: none;
}

.home {
    padding: 15px 0; 
}

.home img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.home li:first-child {
    border-left: 2px solid #adff2e;
}

.home li:first-child a {
    color: white;
}

.playlist-list i{
    font-size: 40px;
    padding-right: 5px;
    vertical-align: middle;
}

.playlist-list li:first-child a {
    font-size: 13px;
}

.navbar a:hover {
    color: white;
}

.playlist {
    flex-grow: 1;
}
/* end center lists  */

/* bottom  */
.install {
    padding: 5px 0;
    border-bottom: 1px solid #474747;
}

.user {
    padding: 10px 0;
}

.user a {
    font-weight: bold;
    color: white;
}

.user img {
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
/* end bottom  */

/* responsive navbar  */
.responsive-container {
    display: flex;
    flex-direction: column;
}

.responsive-container img {
    width: 30px;
    padding: 5px 0;
}

/* end responsive navbar  */
/* end navbar  */

/* main content  */
.main-content {
    width: calc(100% - 200px);
    height: 500px;
    float: left;
    overflow-y: auto;
    padding-top: 80px;

    /* test  */
    background-color: chartreuse;
}
/* end main content  */
/* END MAIN  */

/* FOOTER  */
footer {
    width: 100%;
    height: 80px;

    /* test  */
    background-color: crimson;
}
/* END FOOTER  */

/* MEDIA QUERIES  */

@media screen and (max-width: 767px) {
    header {
        width: calc(100% - 60px);
    }

    .navbar {
        width: 60px;
    }

    .nav-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .responsive-container {
        display: none;
    }
}