* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    min-width: 500px;
}

/* COMMON  */
h5,h3 {
    color: white;
    
}

a {
    text-decoration: none;
    color: #636363;
}

a:hover {
    color: white;
}




/* END COMMON  */

.wrapper {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

/* HEADER  */
header {
    height: 80px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 30px 10px;
    z-index: 5;
}

.upgrade-button {
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 5px;
}

.upgrade-button h5 {
    font-size: 10px;
}

.upgrade-button:hover {
    transform: scale(1.1);
}
/* END HEADER  */

/* MAIN  */
main {
    height: calc(100% - 80px);
}

/* navbar  */
.navbar {
    width: 200px;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #000;
    color: #636363;
    font-size: 12px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

/* top  */
.logo img {
    width: 80%;
    padding: 20px 15px;
}
/* end top  */

/* center lists  */
.nav-list li {
    padding: 5px 15px;
    list-style-type: none;
}

.playlist {
    min-height: 100px;
    overflow-y: auto;
}

.home {
    padding: 15px 0;
}

.home img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.home li:first-child  {
    border-left: 2px solid #adff2e;
}

.playlist h5 {
    padding: 0 15px;
}

.playlist-list i{
    font-size: 40px;
    padding-right: 5px;
    vertical-align: middle;
}

.playlist-list li:first-child a {
    font-size: 13px;
}

.playlist {
    flex-grow: 1;
}
/* end center lists  */

/* bottom  */
.install {
    padding: 5px 15px;
    border-bottom: 1px solid #474747;
}

.user {
    padding: 10px 14px;
}

.user a {
    font-weight: bold;
    color: white;
}

.user img {
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
/* end bottom  */

/* responsive navbar  */
.responsive-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
}

.top-responsive-nav {
    flex-grow: 1;
}

.responsive-nav img {
    width: 30px;
    padding: 5px 0;
}

.responsive-user img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    margin-top: 5px;
}
/* end responsive navbar  */
/* end navbar  */

/* main content  */
.main-content {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    overflow-y: auto;
    padding: 80px 20px 10px 20px;
    background-color: #141922;
}

.main-menu {
    text-align: center;
    padding: 20px 0;
}

.main-menu li {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
}

.border-bottom {
    width: 30px;
    margin: auto;
    border-bottom: 2px solid #adff2e;
    padding: 2px 0;
}

/* recently played  */
.albums-container {
    width: 100%;
    margin-top: 30px;
}

.albums {
    padding: 15px 0;
    text-align: center;
    display: flex;
}

.disc {
    width: calc((100% / 6) - 15px);
    margin-right: 10px;
}

.disc img {
    width: 100%;
    padding: 10px 10px 10px 0;
}

.albums-container p {
    padding-top: 5px;
    color: #636363;
    font-size: 12px;
}

/* hover  */
.overlay {
    position: relative;
    cursor: pointer;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    display: none;
    color: white;
    cursor: pointer;
}

.overlay:hover {
    opacity: 0.8;
}

.overlay:hover .play-button {
    display: block;
}
/* end hover  */
/* end recently played  */

/* popular  */
.rounded-img {
    border-radius: 50%;
}
/* end popular  */
/* end main content  */
/* END MAIN  */

/* FOOTER  */
footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    overflow: hidden;
}

.footer-wrapper {
    display: flex;
    padding: 10px 10px 0 10px;
    justify-content: space-between;
}

/* left-col  */
.song-box {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.song-box img {
    width: 40px;
}

.artist-song {
    padding: 0 30px 0 5px;
}

.artist-song h5 {
    color: white;
    font-size: 11px;
    font-weight: bold;
}

.artist-song p {
    color: #636363;
    font-size: 10px;
}

.icons {
    color: #636363;
    font-size: 13px;
}


/* end left-col  */

/* center-col  */
.center-col {
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.controls i {
    padding: 0 8px;
    color: white;
}

.footer-play-button {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    padding: 0 10px;
}

.time {
    padding: 0 5px;
    color: white;
    font-size: 10px;
}

.player {
    display: inline-block;
    width: 60%;
    border-radius: 10px;
    vertical-align: middle;
    background-color: #636363;
}

.white-player {
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
}

.dot {
    position: absolute;
    top: -7px;
    right: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

/* end center-col  */

/* right-col  */
.right-col {
    width: 15%;
    text-align: center;
    color: white;
    align-self: center;
    display: flex;
}

.right-col i {
    font-size: 12px;
    padding-right: 10px;
}

.volume {
    width: 70%;
    height: 4px;
    border-radius: 10px;
    background-color: #636363;
    align-self: center;
}

.white-volume {
    width: 15%;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
}
/* end right-col  */

/* hover  */
.white-player:hover {
    border: 2px solid #adff2e;
    cursor: pointer;
}

.white-player:hover .dot {
    display: block;
}

.white-volume:hover {
    border: 2px solid #adff2e;
    cursor: pointer;
}

.white-volume:hover .dot {
    display: block;
}

.footer-play-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* end hover  */
/* END FOOTER  */

/* MEDIA QUERIES  */

/* smartphone  */
@media screen and (max-width: 767px) {
    header {
        width: calc(100% - 60px);
    }

    .main-content {
        width: calc(100% - 60px);
    }

    .navbar {
        width: 60px;
    }

    .nav-container {
        display: none;
    }

    .albums {
        flex-wrap: wrap;
    }

    .disc {
        width: calc((100% / 2) - 10px);
    }

}

@media screen and (min-width: 768px) {
    .responsive-nav {
        display: none;
    }
}

/* tablet  */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .albums {
        flex-wrap: wrap;
    }

    .disc {
        width: calc((100% / 2) - 10px);
    }
}

/* desktop  */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    .albums {
        flex-wrap: wrap;
    }

    .disc {
        width: calc((100% / 4) - 10px);
    }

}